body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #0b0c10;
  color: white;
}

header {
  text-align: center;
  padding: 30px;
  background: linear-gradient(to right, #e62429, #202020);
}

header h1 {
  font-size: 50px;
  margin: 0;
}

header p {
  font-size: 18px;
  margin-top: 10px;
}

.heroes {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 40px;
  flex-wrap: wrap;
}

.card {
  background-color: #1f2833;
  width: 280px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 0 15px rgba(0,0,0,0.7);
  transition: transform 0.3s;
}

.card:hover {
  transform: scale(1.05);
}

.card img {
  width: 100%;
  height: 350px;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card h2 {
  margin: 15px 0 5px;
}

.card p {
  padding: 0 15px 20px;
  font-size: 14px;
  color: #c5c6c7;
}

footer {
  text-align: center;
  padding: 15px;
  background-color: #202020;
  font-size: 14px;
}
