name: Deploy frontend.html to S3

on:
  push:
    branches:
      - main
    paths:
      - "frontend.html"
  

permissions:
  id-token: write
  contents: read

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Configure AWS credentials using OIDC
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::725094769769:role/web
          aws-region: eu-north-1

      - name: Upload frontend.html to S3
        run: |
          aws s3 cp frontend.html s3://${{ secrets.S3_BUCKET_NAME }}/frontend.html
